@import url(./header.css);
@import url(./conteudo.css);

*{
    margin: 0;
    padding: 0
}

body{
    font-family:  Helvetica,'Trebuchet MS', sans-serif;
    background: #fff url(../imagens/bg.png);
    margin: 15px;
}

#container{
    background: #ede9cc url(../imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#rodape{
    clear: both;
    padding: 16px;
    background: white url(../imagens/bg-rodape.png) top repeat-x;
    color: #7d7640;
}